@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply custom-scrollbar
}
.logo{
  width: 20px;
  height:20px;
}
.bg-dark-1 {
  /* @apply bg-[#090909] text-white; */
  @apply bg-[#101010] text-white;
}
.bg-dark-2 {
  /* background-color: #0a0112; */
  /* background-color: #130223;/ */
  /* background-color: #090909;  */
  background-color: #101010;
}
.follow-button{
  @apply transition text-white hover:bg-[#262626] bg-blue-500 rounded-md p-2 ;
}
.unfollow-button{
 @apply p-2 rounded-md bg-[#313131] hover:bg-[#2a2323] flex items-center 
}
.dark{
  @apply bg-slate-900
}
/* main classes */
.activity-card {
  @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4 border-[#262626] border-y-[3px] ;
}
.head-text{
  @apply text-2xl font-bold
}
.main-container {
  @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10  ;
}
.topbar {
  @apply fixed top-0 z-30 flex w-full items-center justify-between px-6 py-3 backdrop-blur-xl;
}

.leftsidebar {
  @apply  sticky rounded-r-2xl left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r-[3px] border-[#262626] bg-dark-2 pb-5 pt-28 max-md:hidden;
}

.leftsidebar_link {
  @apply relative flex justify-start gap-4 rounded-lg hover:bg-[#3f3e3ea7] p-4;
}
.bottombar{
  @apply fixed bottom-0 z-10 w-full rounded-t-3xl  p-4 backdrop-blur-lg  md:hidden;
}

.bottombar_container{
  @apply flex items-center justify-between gap-3;
}

.bottombar_link{
  @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5 hover:bg-[#3f3e3ea7];
}
  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }
  .community-card{
    @apply w-full  border-y-[3px] shadow-lg border-[#262626] p-1 rounded-xl bg-dark-2 px-4 py-5 sm:w-96 ;
  }

  .community-card_btn{
    @apply rounded-lg bg-blue-500 px-5 py-1.5   !important;
  }

@layer utilities {
  .scrollbar-custom-class::-webkit-scrollbar{
    width: 2px;
    height: 1px;
    border-radius: 25%;
  }
  .scrollbar-custom-class::-webkit-scrollbar-thumb{
    background-color: #262626;
  }
  .scrollbar-custom-class::-webkit-scrollbar-track{
    background-color: transparent;
  }
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
/* shadcn */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-slate-900 !important;
}

.account-form-image-input {
  @apply cursor-pointer file:text-blue-700 border-none bg-transparent outline-none  !important;
}

.account-form-input{
  @apply border border-slate-900 bg-dark-1 outline-none  !important;
}
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-white
   data-[state=active]:border-b-[#707274] border-b-[3px] border-b-[#262626]  data-[state=active]:text-gray-400 !important;
}
.user-card {
  @apply flex flex-col justify-between gap-4 border-y-[3px] shadow-lg border-[#262626] p-1 rounded-xl ;
}

.user-card_avatar {
  @apply flex flex-1 items-start justify-start gap-3 ;
}

.user-card_btn {
  @apply hover:bg-slate-900 h-auto min-w-[74px] rounded-lg bg-blue-500 text-[12px] text-white transition !important;
}

.searchbar {
  @apply flex gap-1 rounded-lg bg-dark-2 px-4 py-2;
}

.searchbar_input {
  @apply border-none bg-dark-2 text-lg text-gray-600 outline-none !important;
}

::placeholder{
  color: white;
}
select::placeholder{
  color: white;
}